---
import '~/styles/cta.css';

---

<section class="cta">
  <h2>Ready to Transform Your Organization?</h2>
  <p>
    Let's discuss how my experience can specifically benefit your organization,
    ensuring you remain at the forefront of technological advancement. Whether
    you're looking to implement AI transformation, develop custom solutions, or
    enhance your team's capabilities, I'm here to help.
  </p>
  <a href="mailto:pouyadatallc@gmail.com" class="cta-button"
    >Start the Conversation</a
  >
</section>
