---
import '~/styles/global.css';
import Nav from '~/components/Nav.astro';

export interface Props {
  title?: string;
  description?: string;
}

const { title = 'Pouya Data', description } = Astro.props as Props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <Nav />
    <main class="container">
      <slot />
    </main>
  </body>
</html>
